


<main>
    
    <h1>Home page</h1>
    
    
</main


























  @*@model List<Student>*@



 @*@model Student *@



@{
    //string[] names = (string[])ViewData["names"];

    //int[] nums = ViewBag.numbers;

}

@*@foreach (var item in nums)
{
    <h1>@item</h1>
}

<h1>@Model</h1>*@


@*@foreach (var item in names)
{
    <h1>@item</h1>
}*@


@*<h1>Hello P135</h1>*@


@*@foreach (var item in Model)
{
    <span>@item</span>
}*@

@*<h1>@ViewBag.name</h1>*@


@*<h1>@Model.Id</h1>
<h1>@Model.FullName</h1>
<h1>@Model.Age</h1>*@




@*<span>@ViewBag.address</span>*@




 @*@foreach (var item in Model)
{

    <h1>@item.Id</h1>
    <h1>@item.FullName</h1>
   <h1>@item.Age</h1>



}*@




